@font-face {
    font-family: Rubik;
    src: url("../fonts/Rubik/static/Rubik-Regular.ttf");
}

@font-face {
    font-family: Rubik;
    src: url("../fonts/Rubik/static/Rubik-Bold.ttf");
    font-weight: bold;
}

body {
    background-color: #2e2e2e;
    color: white;
    font-family: Rubik;
}


#header {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}

#profile-pic {
    border-radius: 50%;
    margin: auto;
}

.inline-icon {
    filter: invert(100%);
    vertical-align: middle;
}

#header>h1 {
    font-size: 4rem;
    padding: 10px;
    flex-grow: 1;
    margin-top: auto;
    text-align: center;
}

.progress-wrapper {
    background-color: #ffffff10;
    display: inline-block;
    vertical-align: middle;
    margin: 3px;
    height: 20px;
    width: 55%;
}

.progress-bar {
    height: 20px;
}

.clear:after {
    clear: both;
    content: "";
    display: table;
}


@media only screen and (min-width: 1080px) {
    #root-container {
        width: 40%;
        margin: auto;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5px;
    }

    .grid-item {
        padding: 10px;
    }

    .column-item:nth-of-type(-n + 2) {
        grid-column: span 1;
    }

    h2 {
        text-align: center;
    }

    h3 {
        text-align: center;
    }
}